body {
    background-color: lightblue;
}
.hero {
    background-image: url ('https://github.com/kuksooljkn/Promised-Landscaping/blob/main/micrograss.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
